table {
    width: auto;
    height: auto;
    border-collapse: collapse;
    margin: 20px auto;
}
td {
    width: 40px;
    height: 40px;
    background-color: orange;
    border: 1px solid black;
}
.container {
    text-align: center;
    margin-top: 20px;
}

.proses{
    margin-top: 10px;
    margin-left: -225px;
}